<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Heart Disease</title>
</head>
<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="about">About</a></li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <form action="/prediction" method='POST'>
            <div class="form-group">
                <label for="umur">Umur</label>
                <input name="age" id="umur" class="form-control" type="number" placeholder="Umur">
            </div>
            <div class="form-group">
                <label for="sex">Jenis Kelamin</label>
                <select id="sex" name="sex" class="form-control" type="select">
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="paintype">Tipe Sakit Dada</label>
                <select id="paintype" name="chest-pain" class="form-control" type="select">
                    <option value="1">Typical angina</option>
                    <option value="2">Atypical angina</option>
                    <option value="3">Non-anginal pain</option>
                    <option value="4">Asymtotic</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pressure">Tekanan Darah</label>
                <input name="rpb" id="pressure" class="form-control" type="number" placeholder="Tekanan Darah (mmHg)">
            </div>
            <div class="form-group">
                <label for="cholesterol_serum">Serum Kolesterol</label>
                <input name="serchol" id="cholesterol_serum" class="form-control" type="number" placeholder="Serum Kolesterol (mg/dl) ">
            </div>
            <div class="form-group">
                <label for="sugar">Gula Darah Puasa > 120 mg/dl</label>
                <select id="sugar" name="fbs" class="form-control" type="select">
                    <option value="1">Benar</option>
                    <option value="0">Salah</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ECG">ECG Istirahat</label>
                <select id="ECG" name="ECG" class="form-control" type="select">
                    <option value="0">Normal</option>
                    <option value="1">Memiliki anomali gelombang ST-T</option>
                    <option value="2">Left Ventricular Hyperthrophy</option>
                </select>
            </div>
            <div class="form-group">
                <label for="max_heart_rate">Detak Jantung Maksimal</label>
                <input name="mxhrate" id="max_heart_rate" class="form-control" type="number" placeholder="Heart Rate">
            </div>
            <div class="form-group">
                <label for="angina">Angina Olahraga</label>
                <select id="angina" name="angina" class="form-control" type="select">
                    <option value="1">Ya</option>
                    <option value="0">Tidak</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ST_depression">ST Depression</label>
                <input name="STdep" id="ST_depression" class="form-control" type="number" placeholder="ST Depression">
            </div>
            <div class="form-group">
                <label for="Peak_ST">Peak Exercise ST</label>
                <select id="Peak_ST" name="Peak_ST" class="form-control" type="select">
                    <option value="1">Upsloping</option>
                    <option value="2">Flat</option>
                    <option value="3">Downsloping</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vessels">Jumlah Major Vessels</label>
                <input name="majorVessel" id="vessels" class="form-control" type="number" min="0" max="3">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Thal</label>
                <select id="Thal" name="Thal" class="form-control" type="select">
                    <option value="3">Normal</option>
                    <option value="6">Fixed Defect</option>
                    <option value="7">Reversable Defect</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
